.efs {
  font-family: arial, helvetica, sans-serif;
  .b {
      font-weight: bold;
  }
  .content {
    margin-bottom: 100px;
    .slight-bold {
        text-shadow: 0 0 0 rgba(0,0,0,0.7);
    }
    .italic {
        font-style: italic;
    }
    .comment-boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px;
      > div {
        margin: 10px;
      }
    }

    .title_img_comment_box {
      margin-left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      background: #eeeeee;
      border: 1px solid black;
      padding: 4px;
      .title {
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
        padding: 5px 0 7px 0;
      }
      .image {
        text-align: center;
        width: auto;
      }
      .comment {
        padding: 5px 10px;
        font-size: 1.1rem;
        white-space: nowrap;
      }
    }

    .content-title {
      display: flex;
      font-size: 2rem;
      font-weight: bold;
      padding: 2rem 0 1rem 2rem;
      div:nth-child(1) {
        margin-right: 0.5rem;
      }
      div:last-child {
        flex-grow: 1;
        position: relative;
        top: -0.4rem;
        border-bottom: 2px solid black;
      }
    }
    .clipart {
      margin: auto;
      width: auto;
      text-align: center;
      padding-bottom: 0.6rem;
      img {
        max-height: 400px;
        height: auto;
      }
    }
    p {
      font-size: 1.3rem;
      width: 96%;
      margin: 0 auto;
      padding: 0.5rem 0 0.6rem 0;
      &.minor {
          padding: 0.3rem 0 0.3rem 0;
      }
    }
    .subheader-normal {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0 0 0 2%;
    }
    .subheader {
      padding-top: 2rem;
      font-size: 1.6rem;
      font-weight: bold;
    }
    .subheader1_4 {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .subsubheader2 {
      padding-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
    .gray-box {
      clear: all;
      background-color: #edeeed;
      display: inline-block;
      margin: 0.8rem 0 0 5rem;
      font-size: 1.3rem;
      padding: 0 1rem 0.8rem 0;
      border: 1px solid #555;
      .subsubheader {
        font-weight: bold;
        position: relative;
        top: 0.2rem;
        padding-right: 10px;
        padding-left: 10px;
        white-space: nowrap;
      }
      ul {
        list-style: none;
        position: relative;
        margin: 0;
      }
      ul li:before {
        content: "•";
        font-size: 110%; /* or whatever */
        padding-right: 15px;
      }
    }
  }
  /*
  <div className="gray-box">
  <p className="subsubheader">COLOR CODES</p>
  <div className="two-column-flex">
      <div className="color-code-image"><img src={c1} alt="attack factor is red" /></div>
      <div className="color-code-text">
          <div><span>Attack factor is red:</span> Armored unit.</div>
          <div><span>Movement in red box:</span> Unit is motorized.
      </div>
  </div>
</div>
*/

  .subheader-image {
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      width: 96%;
      margin: auto;
      div {
          flex-grow: 0;
          font-size: 1.5rem;
          position: relative;
          top: 12px;
      }
      img {
          margin-left: 10px;
          flex-grow: 0;
          height: 60px;
          width: auto;
      }
  }
  .generic-flex-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .two-column-flex {
    display: flex;
    .color-code-image img {
      width: 80px;
      height: 80px;
      margin-left: 2rem;
    }
    .color-code-text {
      margin: auto 0 auto 2rem;
      span {
        font-weight: bold;
      }
    }
  }
  .spacer0_5rem {
    height: 0.5rem;
  }
  .spacer1rem {
    height: 1rem;
  }
  .spacer1_5rem {
    height: 1.5rem;
  }
  .spacer2rem {
    height: 2rem;
  }
  .spacer2_5rem {
    height: 2.5rem;
  }
  .spacer3rem {
    height: 3rem;
  }
  section {
    width: 90%;
    margin: auto;
  }
}
