.efs {
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  .b {
    font-weight: bold;
  }
  .content {
    margin: 0 5px 100px 0px;
    padding-left: 30px;
    .image-caption {
      display: flex;
      width: auto;
      flex-direction: column;
      align-items: center;
      border: 1px solid #aaa;
      background-color: #e6e6e6;
      img {
        height: auto;
        width: auto;
      }
      text-align: center;
      font-size: 1.3rem;
      div {
        flex-grow: 0;
        display: inline-block;
      }
      &.flotilla {
        width: 644px;
        padding-bottom: 3px;
      }
    }
    .slight-bold {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    }
    .italic {
      font-style: italic;
    }
    .comment-boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px;
      > div {
        margin: 10px;
      }
    }

    .title_img_comment_box {
      margin-left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      background: #eeeeee;
      border: 1px solid black;
      padding: 4px;
      .title {
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
        padding: 5px 0 7px 0;
      }
      .image {
        text-align: center;
        width: auto;
      }
      .comment {
        padding: 5px 10px;
        font-size: 1.1rem;
        white-space: nowrap;
      }
    }

    .content-title {
      display: flex;
      font-size: 2rem;
      font-weight: bold;
      padding: 2rem 0 1rem 0;
      div:nth-child(1) {
        margin-right: 0.5rem;
      }
      div:last-child {
        flex-grow: 1;
        position: relative;
        top: -0.4rem;
        border-bottom: 2px solid black;
      }
    }
    .clipart {
      margin: auto;
      width: auto;
      text-align: center;
      padding-bottom: 0.6rem;
      img {
        max-height: 400px;
        height: auto;
      }
    }
    p {
      font-size: 1.3rem;
      margin: 12px 0 15px 0;
    }
    .pdiv {
      font-size: 1.3rem;
    }
    .subheader-counter {
      display: flex;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      div {
        margin-top: auto;
        position: relative;
        top: 4px;
      }
      img {
        margin-left: 1.5rem;
      }
    }
    .subheader-normal {
      font-size: 1.3rem;
      font-weight: bold;
    }
    .subheader {
      padding-top: 2rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .subheader2 {
      padding-top: 2rem;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .subheader1_4 {
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .subsubheader2 {
      padding-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
    .centered {
      text-align: center;
    }
    .indent1rem {
      margin-left: 1rem;
    }
    .gray-box {
      clear: all;
      background-color: #edeeed;
      display: inline-block;
      margin: 0 0 0 5rem;
      font-size: 1.3rem;
      border: 1px solid #555;
      .subsubheader {
        font-weight: bold;
        position: relative;
        padding-right: 10px;
        padding-left: 10px;
        white-space: nowrap;
      }
      ul {
        list-style: none;
        position: relative;
        margin: 0;
      }
      ul li:before {
        content: "•";
        font-size: 110%; /* or whatever */
        padding-right: 15px;
      }
    }

    .indented-box {
      border: 1px solid black;
      display: inline-block;
      margin-left: 50px;
      &.background-green {
        background-color: #e2ffe2;
        text-shadow:0 0 rgba(0,255,0,0.9);
      }
      &.background-blue {
        background-color: #c8d8e6;
        text-shadow:0 0 rgba(55,55,155,0.9);
      }
      &.background-red {
        background-color: #e8d8d6;
        text-shadow:0 0 rgba(155,55,55,0.9);
      }
      &.background-beige {
        background-color: #efefe0;
        text-shadow:0 0 rgba(110,110,55,0.9);
      }
      &.background-yellow {
        background-color: #ffffd0;
        text-shadow:0 0 rgba(127,127,0,0.9);
      }
      padding: 6px 10px;
      font-size: 20px;
      .indented-box-title {
        font-weight: bold;
        margin-right: 5px;
      }
      ul {
        margin: 5px 5px 2px 40px;
        padding: 0;
      }
    }

    .indented-box-with-image-to-left {
      border: 1px solid black;
      display: inline-block;
      margin-left: 50px;
      padding: 6px 10px;
      font-size: 20px;
      > div:first-child {
        font-weight: bold;
        margin-right: 5px;
      }
      img {
        height: auto;
      }
      ul {
        margin: 5px 5px 2px 40px;
        padding: 0;
      }
    }

  } // end .content

  /*
  <div className="gray-box">
 <div className="subsubheader">COLOR CODES</div>
  <div className="two-column-flex">
      <div className="color-code-image"><img src={c1} alt="attack factor is red" /></div>
      <div className="color-code-text">
          <div><span>Attack factor is red:</span> Armored unit.</div>
          <div><span>Movement in red box:</span> Unit is motorized.
      </div>
  </div>
</div>
*/
.rules-note {
  border: 1px solid #ddd;
  padding: 3px 5px;
  background-color: #e5efff;  
  color: #292;
}
  .rule-ref {
    color: red;
    font-size: 1rem;
  }
  .subheader-n-images {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 12px 0;
    div {
      align-self: flex-end;
      font-size: 1.4rem;
    }
    img {
      align-self: flex-end;
      margin-left: 20px;
      height: auto;
    }
  }
  .subheader-image {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    position: relative;

    > span:nth-child(1) {
      position: absolute;
      bottom: 22px;
      left: 0;
      font-weight: normal;
      color: red;
      font-size: 1rem;
      &.bsr2 {
        color: green;
        text-shadow: 0 0 1px green;
      }
    }
    div {
      flex-grow: 0;
      font-size: 1.4rem;
      margin-top: auto;
      position: relative;
      top: 4px;
    }
    img {
      margin-left: 20px;
      flex-grow: 0;
      height: 60px;
      width: auto;
    }
  }

  .commentary {
    padding: 14px;
    background: #e0fff0;
    font-style: italic;
    border: 1px solid #9b9;
  }

  .generic-flex-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .generic-flex-space-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .two-column-flex {
    display: flex;
    .color-code-image img {
      width: 80px;
      height: 80px;
      margin-left: 2rem;
    }
    .color-code-text {
      margin: auto 0 auto 2rem;
      span {
        font-weight: bold;
      }
    }
  }
  .spacer0_5rem {
    display: block;
    height: 0.5rem;
  }
  .spacer1rem {
    display: block;
    height: 1rem;
  }
  .spacer1_5rem {
    display: block;
    height: 1.5rem;
  }
  .spacer2rem {
    display: block;
    height: 2rem;
  }
  .spacer2_5rem {
    display: block;
    height: 2.5rem;
  }
  .spacer3rem {
    display: block;
    height: 3rem;
  }
  section {
    border: 10px dotted red;
  }
  .green-bold {
    color: #080;
    font-weight: bold;
  }
  .red-bold {
    color: #e00;
    font-weight: bold;
  }
  .blue-bold {
    color: #01e;
    font-weight: bold;
  }
  .italic-bold {
    font-style: italic;
    font-weight: bold;
  }
  .bare-ul {
    margin: 0.3rem 0 0 2%;
    padding: 0;
  }
  .sub-box {
    display: table;
    border: 1px solid black;
    margin: 3px 0 5px 8px;
    background-color: #dfffdf;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .ul-no-top {
    margin-block-start: 0;
  }
  .ol-less-top {
    margin-block-start: 0.3rem;
  }
  .exception {
    color: red;
    text-shadow: 0 0 red;
  }
  .white-text {
    color: white;
    text-shadow: none !important;
  }
  .bigger-bold-text {
    font-size: 150%;
    font-weight: bold;
    position: relative;
    top: 10px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .asterisk {
    font-size: 2rem;
    position: relative;
    bottom: -0.55rem;
    line-height: 1rem;
  }
  .subheader-rule {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    > span:first-child {
      font-weight: normal;
      font-size: 1;
      position: absolute;
      bottom: 1.7rem;
      left: 0;
      color: red;
      font-size: 1rem;
    }
  }
  .rule-ref {
    font-weight: normal;
    font-size: 1;
    color: red;
    font-size: 1rem;
  }
  .i {
    font-style: italic;
  }
}
