.content {
    .nl-pl {
        display: block;
        margin-left: 1.4rem;
    }
    .header-1-image {
        span {
            position: absolute;
            bottom: 22px;
            left: 0;
            font-weight: normal;
            color: red;
            font-size: 1rem;
        }
        .header-1-image-title {
            margin-top: auto;
            position: relative;
            top: 4px;
            font-size: 1.3rem;
        }
        img {
            height: 250px;
            width: auto;
            margin-left: 2rem;
        }
        &.infiltration {
            img {
                border: 1px solid black;
            }
        }
    }
    ul.small-list {
        display: block;
        margin-block-start: 0.2em;
        margin-block-end: 0.5em;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }
    .header-2-image {
        > span:nth-child(1) {
            position: absolute;
            bottom: 22px;
            left: 0;
            font-weight: normal;
            color: red;
            font-size: 1rem;
        }
        div {
            margin-top: auto;
            position: relative;
            top: 4px;
            font-size: 1.3rem;
        }
        img {
            height: 133px;
            width: 211px;
            margin-left: 2rem;
        }
        img:first-of-type {
            margin-top: auto;
            margin-left: 1.5rem;
            height: 80px;
            width: auto;
        }
    }
    /*
                <div className="subheader-image counter-image">
                    <div>Flotillas<BsrLink page="58" rule="22.5" /></div>
                    <img src={sovietFlotilla} alt="Soviet flotilla counter" width="80" height="80" />
                    <div>
                        <img src={flotilla} alt="flotilla" />
                        <div>Camouflaged BK-1125, rear platform, 12.7mm<br />
                        DSHK Heavy Machine Gun. (cmchant.com)</div>
                    </div>
                </div>
            */
    .counter-image {

        div:nth-child(1) {
            margin-top: auto;
            position: relative;
            top: 4px;
            //font-size: 1.3rem;
        }
        div:nth-child(3) {
            margin-top: 0.5rem;
            text-align: center;
            font-size: 0.9rem;
            font-weight: normal;
            img {
                border: 1px solid black;
                width: 403px;
                height: auto;
            }
        }
        img:first-of-type {
            margin-top: auto;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            height: 80px;
            width: auto;
        }
        img:nth-of-type(2) {
            border: 1px solid black;
            margin-top: 0.5rem;
            height: auto;
            width: 150px;
        }
        div:nth-child(2) {
            font-size: 0.9rem;
            font-weight: normal;
            position: relative;
            top: 0px;
        }
    }
    .road-signs {
        img {
            height: 30vw;
            max-height: 500px;
            min-height: 300px;
            width: auto;
        }
    }
    .unit-examples {
        width: 98%;
        margin: auto;
        padding-top: 1rem;
        .unit-example {
            text-align: center;
            margin: 1.5rem 0.1rem;
            font-size: 1rem;
            img {
                height: 90px;
                width: auto;
                @media only screen and (min-width: 1900px) {
                    height: 100px;
                }
            }
            :nth-child(2) {
                font-weight: bold;

                @media only screen and (min-width: 2000px) {
                    font-size: 1.3rem;
                }
            }
            :nth-child(3) {
                @media only screen and (min-width: 2000px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .image-border {
        border: 1px solid #999;
    }

    .wrapper-wrapper {
        border: 1px solid black;
        display: inline-block;
        .sop-wrapper {
            font-size: 120%;
            display: grid;
            grid-template-columns: 85px 236px 32px 90px 32px 236px;

            :nth-child(1n) {
                //background: red;
                text-align: right;
            }
            > :nth-child(1) {
                border-right: 2px solid black;
                padding-right: 0.5rem;
            }
            > :nth-child(7) {
                border-right: 2px solid black;
                padding-right: 0.5rem;
            }
            :nth-child(2n) {
                text-align: center;
                //background: gray;
            }
            div {
                white-space: nowrap;
                padding: 0.6rem 0rem 0.1rem 0rem;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    border-bottom: 1px solid black;
                }
                img {
                    position: relative;
                    top: 1px;
                }
                &:first-child {
                    background-color: #b8bfc3;
                }
            }
            :nth-child(7) {
                background-color: #fc9f62;
            }
            :nth-child(6n + 2) {
                text-align: right;
                padding-right: 6px;
            }
            :nth-child(6n + 6) {
                text-align: left;
                padding-left: 6px;
            }
            // :nth-child(2) {
            //     color: white;
            //     background-color: #333;
            // }
            // :nth-child(12) {
            //     color: white;
            //     background-color: #333;
            // }
            :nth-child(6) {
                color: red;
            }
            :nth-child(8) {
                color: red;
            }
        }
    }

    .movement-phases {
        padding-top: 1.8rem;
        font-size: 1.3rem;
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .phases {
            padding-top: 0.3rem;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            img {
                width: 31px;
                height: 26px;
                margin: 1px 8px 0 10px;
            }
        }
        .axis {
            padding: 0.5rem 1rem 0.4rem 0.7rem;
            background-color: #b8bfc3;
            border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
        }
        .soviet {
            padding: 0.5rem 1rem 0.4rem 0.7rem;
            background-color: #fc9f62;
            border-top: 2px dotted rgba(0, 0, 0, 0.3);
        }
    }
}
